# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Maven Wrapper
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar  

# Eclipse
.project
.classpath
.settings/

# IntelliJ IDEA
.idea/
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# VS Code
.vscode/

# MacOS
.DS_Store

# Thêm một số file tạm thời khác
*.log            # Các file log
*.swp            # Các file swap của vim
*.swo            # Các file swap của vim

# Thêm các file khác của hệ thống:
Thumbs.db        # Windows thumbnail cache
ehthumbs.db      # Windows thumbnail cache
desktop.ini      # Windows desktop configuration file
